.interation_modal_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.interation_modal_wrapper .close_btn {
  position: absolute;
  top: 4px;
  right: 4px;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  height: 20px;
  line-height: 20px;
  padding: 0 8px;
  font-size: 10px;
}
.interation_modal_wrapper .desc_wrapper {
  position: absolute;
  left: 12px;
  bottom: 60px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  padding: 6px 8px;
  border-radius: 4px;
}
.interation_modal_wrapper .desc_wrapper .app_logo {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}
.interation_modal_wrapper .logo_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -20px;
  padding: 2px;
  border-radius: 4px;
}
.interation_modal_wrapper .logo_wrapper .app_logo {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}
.interation_modal_wrapper .app_name {
  font-size: 15px;
  font-weight: 500;
  color: #666;
  text-align: center;
}
.interation_modal_wrapper .adm-modal-body:not(.adm-modal-with-image) {
  padding-top: 0;
}
.interation_modal_wrapper .adm-modal-content {
  padding: 0;
}
.interation_modal_wrapper .adm-modal-footer-empty {
  height: 0px;
}
